<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>

<!-- ----------------------Nav----------------- -->

 {{>nav}}
    


  <!-- ----------------------footer----------------- -->
  {{>footer}}

  {{>script}}
  </body>
</html>