<!DOCTYPE html>
<html lang="en">
<head>
   {{>head}}
</head>
<body>

<!-- ----------------------Nav----------------- -->

 {{>nav}}
    


  <!-- ----------------------footer----------------- -->
<div class=" row d-flex align-content-end">

    {{>footer}}
</div>

  {{>script}}
  </body>
</html>